#carousel {
  background-color: rgb(222, 222, 222);
  width: 100%;
  height: 300px; /* Custom carousel height */
  position: relative;
  display: flex;
  justify-content: center;
}

#carousel-slides {
  width: 100%; /* Custom slide width */
  height: inherit;
}

.carousel-slide {
  width: inherit;
  height: inherit;
  background-size: cover;
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  position: absolute;
  transition: opacity ease-in-out 300ms;
}

.carousel-slide.active {
  opacity: 1;
}

#carousel-controls {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 100%;
  width: 100%;
}

#previous-button,
#next-button {
  color: #fff;
  text-shadow: 1px 1px #000;
  position: absolute;
  border: none;
  font-weight: bold;
  width: 32px;
  height: 100%;
  top: 0;
}

#previous-button {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
}

#next-button {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
}

#jump-to-buttons {
  position: absolute;
  bottom: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.jump-to-button {
  border: none;
  border-radius: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.jump-to-button.active {
  opacity: 1;
}

#previous-button,
#next-button,
#jump-to-buttons button {
  cursor: pointer;
}

.carousel-slide:nth-of-type(1) {
  background-color: rgb(236, 167, 167);
}
.carousel-slide:nth-of-type(2) {
  background-color: rgb(236, 232, 167);
}
.carousel-slide:nth-of-type(3) {
  background-color: rgb(178, 236, 167);
}
.carousel-slide:nth-of-type(4) {
  background-color: rgb(167, 195, 236);
}
.carousel-slide:nth-of-type(5) {
  background-color: rgb(236, 167, 228);
}
