:root {
  --header-background: #f8f8f8;
  --header-font-color: #e8a200;
}

header {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 0 64px;
  height: 50px;
  background-color: var(--header-background);
  font-family: sans-serif;
}

#brand a {
  color: var(--header-font-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 100% 16px;
}

#main-nav-links {
  display: flex;
  align-items: center;
}

.nav-link.dropdown,
.nav-link > a,
.dropdown-link.dropdown {
  position: relative;
}

.nav-link.dropdown,
.nav-link > a,
.dropdown-link > a,
.dropdown-link.dropdown {
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--header-font-color);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.nav-link.dropdown:hover,
.nav-link > a:hover,
.dropdown-link > a:hover,
.dropdown-link.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-container,
.submenu-container {
  position: absolute;
  z-index: 1;
  background-color: var(--header-background);
  padding: 8px 0px;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.5);
}

.dropdown-container {
  top: 100%;
  left: 0;
}

.submenu-container {
  top: -8px;
  left: 100%;
}

.dropdown-container,
.submenu-container {
  opacity: 0;
  pointer-events: none;
}

.dropdown-container.active,
.submenu-container.active {
  opacity: 1;
  pointer-events: all;
}
