.nav-root * {
  list-style-type: none;
  box-sizing: border-box;
}

.nav-root .nav-link,
.nav-root .nav-link-element {
  display: block;
  width: 100%;
}

.nav-root .nav-link-element {
  text-align: center;
  padding: 0.25rem 0;
  border: none;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.nav-root {
  --background-color: #e7e7e7;
  --background-color-darker: #c4c4c4;
  --nav-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  border-radius: var(--nav-radius);
  margin: 0;
  padding: 0;
  color: black;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.2);
}

.nav-root > .nav-link {
  position: relative;
  flex-grow: 1;
}

.nav-root > .nav-link > .nav-link-element {
  height: 100%;
}

.nav-root > .nav-link:hover > .nav-link-element {
  background-color: var(--background-color-darker);
}

.nav-root > .nav-link:hover > a.nav-link-element,
.nav-root > .nav-link > .nav-submenu > .nav-link:hover > a.nav-link-element {
  text-decoration: underline;
}

.nav-root > .nav-link:first-of-type > .nav-link-element {
  border-radius: var(--nav-radius) 0 0 var(--nav-radius);
}

.nav-root > .nav-link:first-of-type:hover > button.nav-link-element {
  border-radius: var(--nav-radius) 0 0 0;
}

.nav-root > .nav-link:last-of-type:hover > button.nav-link-element {
  border-radius: 0 var(--nav-radius) 0 0;
}

.nav-root > .nav-link:last-of-type > .nav-link-element {
  border-radius: 0 var(--nav-radius) var(--nav-radius) 0;
}

.nav-root > .nav-link > .nav-submenu > .nav-link {
  position: relative;
}

.nav-root > .nav-link > .nav-submenu,
.nav-root > .nav-link > .nav-submenu > .nav-link > .nav-submenu {
  position: absolute;
  z-index: 1;
  transform: scaleY(0.75);
  transform-origin: top;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 100%;
  width: fit-content;
  padding: var(--nav-radius) 0;
  background-color: var(--background-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.nav-root > .nav-link > .nav-submenu {
  top: 100%;
  box-shadow: 0 4px 5px 1px hsla(0, 0%, 0%, 0.2);
  border-radius: 0 0 var(--nav-radius) var(--nav-radius);
}

.nav-root > .nav-link > .nav-submenu > .nav-link > .nav-submenu {
  top: 0;
  left: 100%;
  box-shadow: 4px 4px 5px 1px hsla(0, 0%, 0%, 0.2);
  border-radius: 0 var(--nav-radius) var(--nav-radius) var(--nav-radius);
}

.nav-root > .nav-link > .nav-submenu.active,
.nav-root > .nav-link > .nav-submenu > .nav-link > .nav-submenu.active {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: all;
}

.nav-root > .nav-link > .nav-submenu > .nav-link:hover,
.nav-root
  > .nav-link
  > .nav-submenu
  > .nav-link
  > .nav-submenu
  > .nav-link:hover {
  background-color: var(--background-color-darker);
}
